<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body style="background-color: #B0AFAF">
    <div class="container border border-4  rounded-4 my-3">
    <form action="/search" method = "POST">
        <h2 class="text-center">Search:</h2>


        <label value="years_of_experience"> How many years of experience do you want?</label>
        <input min=0 type="number" name="years_of_experience" value="" placeholder="0"><br><br>

        <label>what instruments are you looking for?</label><br>
        <select name="instruments_played" id="" multiple>
            <optgroup label="String">
                <option>Bass</option>
                <option>Banjo</option>
                <option>Guitar</option>
                <option>Harp</option>
                <option>Violin</option>
            </optgroup>
            <optgroup label="Brass">
                <option>French Horn</option>
                <option>Trumpet</option>
                <option>Trombone</option>
                <option>Tuba</option>
            </optgroup>
            <optgroup label="Keyboard">
                <option>Piano</option>
                <option>Synth</option>

            </optgroup>

        </select>
        <br><br>
        <label>What is your preferred genre(s)</label><br>
        <select name="preferred_genres" multiple>
            <option>Pop</option>
            <option>Rock</option>
            <option>Metal</option>
            <option>Jazz</option>
            <option>Hip-Hop</option>
            <option>Electronic</option>
            <option>Indie</option>
            <option>Folk</option>
        </select>

        <br><br><input type = "submit" value = "Submit" />

    </form>
</div>
</body>
</html>
